.copyright-floor, .body-main {
    position: relative;
}
.filter-box, .search-box {
    background: #fff;
    font-size: 14px;
    width: 100%;
}
.search-box .search-nav {
    color: #0e0e0e;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    width: 1240px;
}
.search-nav .default_path {
    margin-right: -4px;
}
.search-box .search-nav {
    color: #0e0e0e;
    height: 48px;
    line-height: 48px;
    margin: 0 auto;
    width: 1240px;
}
.search-box .search-nav a {
    color: #848484;
    display: inline;
}
.search-nav i {
    display: inline;
    font: 14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    font-style: normal;
    padding: 0 5px;
    text-align: center;
    /* width: 20px; */
}
.search-nav .breadcrumbs_box {
    display: inline;
}
.search-nav .sw_box, .search-nav .sww {
    color: #848484;
}
.search-nav .qwords {
    font-size: 15px;
}
.search-nav .qwords:before {
    color: #848484;
    content: ">";
    font: 14px / 1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    padding: 0 5px;
}

.filter-box .js-cates {
    position: relative;
}
.filter-box .filter {
    border-bottom: 1px solid #e8e8e8;
    line-height: 48px;
    margin: 0 auto;
    width: 1240px;
}
.filter-box .filter .hint {
    color: #31373c;
    display: inline-block;
    *display: inline;
    height: 48px;
    line-height: 48px;
    width: 60px;
    *zoom: 1;
}
.filter-box div.hint {
    border-bottom: 1px solid #e8e8e8;
    display: block;
    float: left;
}
.filter-box .option_box a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.filter-box .filter a {
    color: #848484;
    display: inline-block;
    *display: inline;
    font-weight: 400;
    height: 48px;
    line-height: 48px;
    padding-right: 15px;
    text-decoration: none;
    width: 100px;
    *zoom: 1;
}
.filter-box .option_box {
    border-bottom: 1px solid #e8e8e8;
    float: left;
    max-height: 250px;
    overflow: auto;
    padding-left: 4px;
    position: relative;
    transition: all .5s;
    width: 1175px;
}
.filter-box .find_more {
    display: none;
    height: 48px;
    line-height: 48px;
    position: absolute;
    right: 0;
    top: 0;
}
.filter-box .find_more .spread_icon {
    float: right;
    height: 19px;
    margin-top: 15px;
    margin-left: 3px;
    padding: 0 2px;
    width: 15px;
}
.filter-box .find_more .spread_icon img {
    margin-top: -33px;
    width: 100%;
}
.filter-box .unspread {
    height: 48px !important;
    overflow: hidden !important;
}
.filter-box .js-options {
    border: none;
}

.filter-box .last {
    border: none;
}
.search-box .search-nav a:hover, .filter-box .filter a:hover, .filter-box .filter .active, .filter-box .filter label:hover {
    color: #23ac38;
}
.list-box {
    background: #f5f5f5;
    padding: 16px 0 30px;
    width: 100%;
}
.listwrap {
    margin: 0 auto;
    position: relative;
    width: 1240px;
}
.list-box .list-container {
    margin: 0 -5px;
    overflow: hidden;
    width: 1250px;
}
.list-box .list {
    margin-left: 1px;
    width: 100%;
}
.list-box .list .list-item {
    background: #fff;
    border: 1px solid #E4E4E4;
    display: inline-block;
    float: left;
    height: 328px;
    margin: 5px 5px 15px;
    overflow: hidden;
    position: relative;
    width: 238px;
}
.list-item .pic {
    padding: 40px 30px 10px;
}
.list-item .pic img, .list-item .pic a {
    display: block;
    height: 165px;
    width: 165px;
}
.list-item .cont {
    font-size: 16px;
    text-align: center;
}
.addbtns, .addSuccess {
    text-align: center;
}
.list-item .cont .price {
    color: #fa5437;
    font-size: 14px;
}
.list-item .cont .title {
    color: #31373c;
    display: block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 90%;
}
.list-box .list .list-item.active {
    border: 1px solid #FC0D1B;
    margin-bottom: 15px;
}
/* .addbtns .add-cart {
    background: #fff url(//p.ssl.qhmsg.com/t010f59b0af8a644c17.png) no-repeat 14px 7px;
    background-size: 15px;
    border: 1px solid #fc532d;
    display: none;
    color: #fc532d;
    padding-left: 15px;
    width: 105px;
} */
.price {
    line-height: 36px;
    margin-top: 10px;
}
.addSuccess {
    background: #FC0D1B;
    bottom: -36px;
    color: #fff;
    display: none;
    font-size: 12px;
    height: 36px;
    left: 0;
    line-height: 36px;
    position: absolute;
    right: 0;
    z-index: 10;
}
.pagelist {
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
}
.pagelist .pageBtnWrap {
    display: block;
}
.pagelist div, .pagelist .pageBtnWrap {
    width: 100%;
}
.pagelist .disabled {
    color: #ccc;
}
.pagelist a, .pagelist .disabled, .pagelist .curr {
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    margin-left: 6px;
    padding: 6px 12px;
    text-align: center;
}
.pagelist .curr {
    background: #23ac38;
    border: 1px solid #23ac38;
    color: #fff;
}