a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, input, ins, kbd, label, legend, li, mark, menu, nav, object, ol, p, pre, q, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: none;
    outline: 0;
    font-size: 100%;
    font-style: normal;
    vertical-align: baseline;
}
a {
    color: #666;
    outline: none;
    text-decoration: none;
}
img {
    max-width: 100% !important;
    width: auto;
    height: auto;
    display: inline-block;
}
img, input, textarea, button {
    border: 0;
    vertical-align: middle;
}
body {
    color: #666;
    font: 12px "微软雅黑",Verdana,SimHei,"Microsoft JhengHei",Tahoma;
    position: relative;
}
.clearfix{
    zoom:1;
}
.clearfix:after, .clearfix_new:after {
    clear: both;
    content: '\20';
    display: block;
    height: 0;
}
img, input, textarea, button {
    border: 0;
    vertical-align: middle;
}
.fl {
    float: left;
}
